.courses {
  margin-top: $mg-2 + $mg-1;
  padding: 48px 100px 50px;
  background: $gray-color-8;
  &__text {
    width: 100%;
    max-width: 90%;
    h2 {
      padding-top: $pd-1;
      @include styleText($black-color-0, $fs-3 + 8, $fw-bold-1);
    }
    p {
      @include styleText($gray-color-4, $fs-0, $fw-normal);
    }
  }
  .info__video {
    position: relative;
  }
  &__description {
    // position: relative;
    position: absolute;
    bottom: 5%;
    left: 25%;
    width: 100%;
    max-width: 50%;
    display: flex;
    h3 {
      @include styleText($black-color-0, $fs-2, $fw-bold);
    }
    span {
      position: absolute;
      right: -20%;
      bottom: 15%;
      padding: 0px 10px;
      background: #1dbf73;
      @include styleText($white-color-0, $fs-1, $fw-bold);
    }
  }
  &__description-rating {
    padding-left: 24%;
    span {
      font-size: 14px;
      color: #ffc100;
    }
  }
}

@include responsive("x-large") {
  .courses {
    .info__video {
      height: 65%;
    }

    &__description {
      bottom: 37%;
      left: 10%;
      width: 100%;
      max-width: 69%;
    }
    &__description-rating {
      padding-left: 6%;
    }
  }
}

@include responsive("large") {
  .courses {
    .info__video .play {
      background-size: 60px;
    }
  }
}
@include responsive("large") {
  .courses {
    .row {
      flex-direction: column;
    }
  }
}
@include responsive("small") {
  .courses {
    .row {
      flex-direction: column;
      .style-moblie {
        padding-top: 270px;
      }
    }

    &__text {
      h2 {
        font-size: 20px;
      }
    }
    &__description-rating {
      padding-left: 10px;
      padding-top: 30px;
    }
  }
}
