#cover {
  position: relative;
  overflow-x: hidden;
  .cover-text__left {
    position: absolute;
    width: 100%;
    max-width: 50%;
    top: 10%;
    left: -8%;
    transform: translate(20%, 50%);
    z-index: 2;
    h1 {
      @include styleText($white-color-0, $fs-4 + 8, $fw-bold);
      width: 90%;
      max-width: 90%;
      padding-bottom: $pd-2;
      i {
        font-weight: 400;
      }
    }
    .cover-nav__search {
      width: 85%;
      height: $fs-4 + 8;
      i {
        top: 7px;
      }
    }
    .cover-text__courses {
      display: flex;
      width: 100%;
      max-width: 85%;
      padding-top: $pd-2;
      @include styleText($white-color-0, $fs-0 - 3, $fw-normal);
      ul,
      li {
        display: flex;
        list-style: none;

        a {
          text-decoration: none;
          @include styleText($white-color-0, $fs-1 - 3, $fw-normal);
          padding: 1px 12px;
          border: 1px solid $white-color-0;
          border-radius: 40px;
          transition: all 0.3s ease;
        }
        a:hover {
          color: $black-color-1;
          background-color: $white-color-0;
        }
        & {
          margin-left: $mg-1;
        }
      }
    }
  }
  .cover-content {
    position: relative;
    .cover-text__right {
      position: absolute;
      display: flex;
      bottom: 0;
      right: 5%;
      transform: translateX(-50%);
      @include styleText($white-color-0, $fs-0 - 2, $fw-bold);
    }
    .cover-text__rating {
      display: block;
      i {
        @include styleText($yellow-color-0, $fs-1 - 4, $fw-bold);
      }
    }
    img {
      width: 100%;
      height: 550px;
    }
  }
}

@include responsive("extra-large") {
  .cover-text__left {
    .cover-btn__search {
      display: block;
    }
    .cover-text__courses {
      max-width: 90%;
    }
  }
}

@include responsive("x-large") {
  #cover {
    .cover-text__left {
      left: -8%;
      max-width: 55%;
      h1 {
        @include styleText($white-color-0, $fs-4, $fw-bold);
      }
    }
    .cover-content {
      .styleImg2 {
        display: block;
      }
    }
  }
}

@include responsive("medium") {
  #cover {
    background: #023a15;
    height: 500px;
    .cover-text__left {
      // position: relative;
      max-width: 85%;
      left: 1%;
      .cover-text__courses {
        display: none;
      }
      .cover-nav__search {
        flex-direction: column;
        max-width: 80%;
        height: 110px;
        input {
          margin-bottom: $mg-1;
          height: 100px;
        }
        button {
          height: 100px;
        }
      }
      h1 {
        font-size: $fs-4;
        max-width: 85%;
      }
    }
    .cover-content.slick-slider {
      display: none;
    }
  }
}

@include responsive("small") {
  #cover {
    height: 400px;
    .cover-text__left {
      top: -10%;

      h1 {
        font-size: $fs-4 - 8;
      }
      .cover-nav__search {
        display: flex;
        input {
          max-width: 100%;
        }
      }
    }
  }
}
