.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  &__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $black-color-0, $alpha: 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
    z-index: 999;
  }

  &__content {
    position: fixed;
    width: 260px;
    height: 100%;
    padding: $pd-2 0 $pd-2 $pd-2;
    background-color: $white-color-0;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    z-index: 1000;
  }

  &.open {
    z-index: 999;
    .sidebar__overlay {
      opacity: 1;
      visibility: visible;
    }
    .sidebar__content {
      transform: translateX(0);
    }
  }

  &__btn {
    @include styleButton(
      $pd-1 - 2,
      $pd-2 + 6,
      $green-color-0,
      $green-color-0,
      $border-radius
    );
    @include styleText($white-color-0, $fs-0, $fw-bold-1);
    display: inline-block;
    margin-bottom: $mg-2 - 5;
    &:hover {
      @include styleButtonHover($white-color-0, $green-color-1, $green-color-1);
      text-decoration: none;
    }
  }
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  color: $gray-color-2;
  height: calc(100% - 40px);
  padding-right: $pd-2;
  padding-bottom: 40px;
  overflow-y: auto;
  & > * {
    padding-bottom: $pd-1 + 5;
  }

  &__link {
    display: inline-block;
    color: $gray-color-2;
    transition: all 0.3s ease;
    &:hover {
      color: $gray-color-0;
      text-decoration: none;
    }
    &.pro {
      @include styleText($green-color-4, $fs-0, $fw-bold-0);
      &:hover {
        color: $green-color-4;
      }
    }
    &.business {
      @include styleText($green-color-0, $fs-0, $fw-bold-0);
      &:hover {
        color: $green-color-0;
      }
    }
  }

  .general {
    padding: 30px 0 10px;
    p {
      @include styleText($black-color-1, $fs-0, $fw-bold-0);
      padding-bottom: $pd-1;
      border-bottom: 1px solid $gray-color-1;
      margin-bottom: 0;
    }
  }
}

.sidebar-dropdown {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    i {
      transition: all 0.3s ease;
    }
  }

  .dropdown__content {
    display: none;
    width: 100%;
    list-style: none;
    margin-top: $mg-1;
    margin-bottom: 0;
    .dropdown__item {
      padding: $pd-0 0 $pd-0 $pd-2;
    }

    .dropdown__link {
      color: $gray-color-2;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &.language,
  &.currency {
    .dropdown__item.active {
      padding-left: 0;
    }
    .dropdown__item {
      transition: all 0.3s ease;
      cursor: pointer;
    }
    .dropdown__item:hover {
      background-color: $gray-color-6;
    }
  }

  &.active {
    .sidebar-dropdown__title > i {
      transform: rotate(-180deg);
    }
  }
}
