.works {
  padding: 50px 0;
  background-color: $gray-color-8;

  .container-fluid {
    padding: 0 50px;
  }

  &__title {
    @include styleText(#222325, 32px, $fw-bold-1);
    text-align: center;
    margin-bottom: 40px;
  }

  &__item {
    img {
      height: 50px;
      margin-bottom: $mg-1 + 5;
    }
    h4 {
      @include styleText(#555555, $fs-3 - 2, $fw-bold-1);
      margin-bottom: $mg-1;
    }
    p {
      margin-bottom: 0;
    }
  }
}

@include responsive("medium") {
  .works {
    &__item {
      margin-bottom: $mg-2;
    }
  }
}
