* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #62646a;
  font-size: 16px;
  font-weight: 400;
}

.header-nav {
  padding: 20px 0;
  border-bottom: 1px solid #e4e5e7;
}

.header-nav .container-fluid {
  padding: 0 30px;
}

.header-nav__left {
  display: flex;
  align-items: center;
}

.header-nav__bars {
  display: none;
  font-size: 24px;
  color: #404145;
  margin-right: 15px;
  cursor: pointer;
}

.header-nav__logo {
  display: inline-block;
  margin-right: 35px;
}

.header-nav__logo svg g:first-child {
  fill: #404145;
}

.header-nav__logo svg g:last-child {
  fill: #1dbf73;
}

.header-nav__search {
  position: relative;
  flex: 1;
  display: flex;
}

.header-nav__search input {
  color: #404145;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  padding: 5px 10px 5px 30px;
  background-color: #fff;
  border: 1px solid #dadbdd;
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: all 0.2s linear;
}

.header-nav__search input:hover,
.header-nav__search input:focus {
  outline: none;
  border-color: #95979d;
}

.header-nav__search input::placeholder {
  color: #62646a;
  font-size: 15px;
  font-weight: 400;
}

.header-nav__search i {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 30px;
  line-height: 35px;
  text-align: center;
}

.header-nav__search button {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 7.5px 15px;
  background-color: #1dbf73;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all 0.2s linear;
}

.header-nav__search button:focus {
  outline: none;
}

.header-nav__search button:hover {
  background-color: #19a463;
}

.header-nav__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-nav__menu {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

.header-nav__item {
  padding: 0 10px;
}

.header-nav__link {
  color: #62646a;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s linear;
}

.header-nav__link:hover {
  text-decoration: none;
  color: #1dbf73;
}

.header-nav__join {
  padding: 5px 20px;
  background-color: transparent;
  border: 1px solid #1dbf73;
  border-radius: 4px;
  transition: all 0.2s linear;
  color: #1dbf73;
  font-size: 15px;
  font-weight: 700;
}

.header-nav__join:hover {
  text-decoration: none;
  color: #fff;
  background-color: #19a463;
}

.header-cate {
  border-bottom: 1px solid #e4e5e7;
}

.header-cate .container-fluid {
  padding: 0 25px;
}

.header-cate .new {
  color: #ff62ad;
  font-size: 11px;
  font-weight: 700;
  padding: 1px 8px;
  border: 1px solid #ff62ad;
  border-radius: 30px;
  text-transform: uppercase;
}

.header-cate__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-bottom: 0;
}

.header-cate__item {
  display: inline-block;
  position: relative;
  padding: 0 10px;
}

.header-cate__link {
  color: #62646a;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  padding: 10px 0;
}

.header-cate__link:hover {
  color: #62646a;
  text-decoration: none;
}

.header-cate__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #1dbf73;
  opacity: 0;
  transition: all 0.2s linear;
}

.header-dropdown {
  display: none;
  grid-column-gap: 10px;
  position: absolute;
  left: 0;
  padding: 20px 30px;
  border: 1px solid #e4e5e7;
  border-radius: 4px;
  list-style: none;
  box-shadow: 0 1px 3px #dadbdd;
  z-index: 1;
}

.header-dropdown.dropdown-left {
  right: 0;
  left: unset;
}

.header-dropdown.grid-fours-column {
  grid-template-columns: repeat(4, 240px);
}

.header-dropdown.grid-three-column {
  grid-template-columns: repeat(3, 240px);
}

.header-dropdown.grid-two-column {
  grid-template-columns: repeat(2, 240px);
}

.header-dropdown__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 10px;
}

.header-dropdown__item {
  margin-bottom: 10px;
}

.header-dropdown__title {
  color: #404145;
  margin-bottom: 0;
}

.header-dropdown__link {
  display: inline-block;
  color: #62646a;
  transition: all 0.2s linear;
}

.header-dropdown__link:hover {
  color: #7a7d85;
  text-decoration: none;
}

.header-cate__item:hover .header-dropdown {
  display: grid;
}

.header-cate__item:hover .header-cate__link::after {
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */