#modalVideo .modal-dialog {
  width: 70vw;
  max-width: 900px;
}

@media screen and (max-width: 576px) {
  #modalVideo .modal-dialog {
    width: unset;
  }
}

#modalVideo .modal-content {
  background-color: transparent;
  border: none;
}

#modalVideo .modal-body {
  padding: 0;
}

#modalVideo .modal-video {
  width: 100%;
  border-radius: 4px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #62646a;
  font-size: 16px;
  font-weight: 400;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

#header.header-transparent .header-nav {
  border-bottom-color: transparent;
  background-color: transparent;
}

#header.header-transparent .header-nav__bars {
  color: #fff;
}

#header.header-transparent .header-nav__logo g:first-child {
  fill: #fff;
}

#header.header-transparent .header-nav__search {
  opacity: 0;
  visibility: hidden;
}

#header.header-transparent .header-nav__link {
  color: #fff;
}

#header.header-transparent .header-nav__join {
  color: #fff;
  border-color: #fff;
}

#header.header-transparent .header-nav__join:hover {
  border-color: #1dbf73;
}

#header.header-transparent .header-cate {
  opacity: 0;
  visibility: hidden;
  background-color: transparent;
}

.header-nav {
  padding: 20px 0;
  border-bottom: 1px solid #e4e5e7;
  background-color: #fff;
  transition: all 0.2s linear;
}

.header-nav .container-fluid {
  padding: 0 30px;
}

.header-nav .row {
  flex-wrap: nowrap;
}

.header-nav__left {
  display: flex;
  align-items: center;
}

.header-nav__bars {
  display: none;
  font-size: 24px;
  color: #404145;
  margin-right: 15px;
  cursor: pointer;
}

.header-nav__logo {
  display: inline-block;
  margin-right: 35px;
}

.header-nav__logo svg g:first-child {
  fill: #404145;
  transition: all 0.2s linear;
}

.header-nav__logo svg g:last-child {
  fill: #1dbf73;
}

.header-nav__search {
  position: relative;
  flex: 1;
  display: flex;
  transition: all 0.2s linear;
}

.header-nav__search input {
  color: #404145;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  padding: 5px 10px 5px 30px;
  background-color: #fff;
  border: 1px solid #dadbdd;
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: all 0.2s linear;
}

.header-nav__search input:hover,
.header-nav__search input:focus {
  outline: none;
  border-color: #95979d;
}

.header-nav__search input::placeholder {
  color: #62646a;
  font-size: 15px;
  font-weight: 400;
}

.header-nav__search i {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 30px;
  line-height: 35px;
  text-align: center;
}

.header-nav__search button {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 7.5px 15px;
  background-color: #1dbf73;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all 0.2s linear;
}

.header-nav__search button:focus {
  outline: none;
}

.header-nav__search button:hover {
  background-color: #19a463;
}

.header-nav__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-nav__menu {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

.header-nav__item {
  padding: 0 10px;
}

.header-nav__link {
  color: #62646a;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s linear;
}

.header-nav__link:hover {
  text-decoration: none;
  color: #1dbf73;
}

.header-nav__join {
  padding: 5px 20px;
  background-color: transparent;
  border: 1px solid #1dbf73;
  border-radius: 4px;
  transition: all 0.2s linear;
  color: #1dbf73;
  font-size: 15px;
  font-weight: 700;
}

.header-nav__join:hover {
  text-decoration: none;
  color: #fff;
  background-color: #19a463;
}

.header-cate {
  border-bottom: 1px solid #e4e5e7;
  background-color: #fff;
  transition: all 0.2s linear;
}

.header-cate .container-fluid {
  padding: 0 25px;
}

.header-cate .new {
  color: #ff62ad;
  font-size: 11px;
  font-weight: 700;
  padding: 1px 8px;
  border: 1px solid #ff62ad;
  border-radius: 30px;
  text-transform: uppercase;
}

.header-cate__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-bottom: 0;
}

.header-cate__item {
  display: inline-block;
  position: relative;
  padding: 0 10px;
}

.header-cate__link {
  color: #62646a;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  padding: 10px 0;
}

.header-cate__link:hover {
  color: #62646a;
  text-decoration: none;
}

.header-cate__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #1dbf73;
  opacity: 0;
  transition: all 0.2s linear;
}

.header-dropdown {
  display: none;
  grid-column-gap: 10px;
  position: absolute;
  left: 0;
  padding: 20px 30px;
  background-color: #fff;
  border: 1px solid #e4e5e7;
  border-radius: 4px;
  list-style: none;
  box-shadow: 0 1px 3px #dadbdd;
  z-index: 3;
}

.header-dropdown.dropdown-left {
  right: 0;
  left: unset;
}

.header-dropdown.grid-fours-column {
  grid-template-columns: repeat(4, 240px);
}

.header-dropdown.grid-three-column {
  grid-template-columns: repeat(3, 240px);
}

.header-dropdown.grid-two-column {
  grid-template-columns: repeat(2, 240px);
}

.header-dropdown__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 10px;
}

.header-dropdown__item {
  margin-bottom: 10px;
}

.header-dropdown__title {
  color: #404145;
  margin-bottom: 0;
}

.header-dropdown__link {
  display: inline-block;
  color: #62646a;
  transition: all 0.2s linear;
}

.header-dropdown__link:hover {
  color: #7a7d85;
  text-decoration: none;
}

.header-cate__item:hover .header-dropdown {
  display: grid;
}

.header-cate__item:hover .header-cate__link::after {
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .header-nav__bars {
    display: block;
  }
  .header-nav__search input {
    border-right: 1px solid #dadbdd;
    border-radius: 4px;
  }
  .header-nav__search button {
    display: none;
  }
  .header-nav__item.language, .header-nav__item.currency {
    display: none;
  }
  .header-cate {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .header-nav__item.business, .header-nav__item.explore, .header-nav__item.seller {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .header-nav__logo {
    width: 100%;
    text-align: right;
    margin-right: 0;
  }
  .header-nav__search {
    display: none;
  }
  .header-nav__item.signin {
    display: none;
  }
  .header-nav__item.join {
    padding: 0;
  }
  .header-nav__join {
    color: #62646a;
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    border: none;
  }
  .header-nav__join:hover {
    color: #62646a;
    background-color: transparent;
  }
}

#cover {
  position: relative;
}

#cover .cover-text__left {
  position: absolute;
  width: 45%;
  top: 5%;
  left: 0;
  transform: translate(20%, 50%);
  z-index: 2;
}

#cover .cover-text__left h1 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

#cover .cover-text__left h1 i {
  font-weight: 400;
}

#cover .cover-text__left form {
  width: 90%;
}

#cover .cover-text__left .cover-text__courses {
  display: flex;
  padding-top: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

#cover .cover-text__left .cover-text__courses ul,
#cover .cover-text__left .cover-text__courses li {
  display: flex;
  list-style: none;
}

#cover .cover-text__left .cover-text__courses ul a,
#cover .cover-text__left .cover-text__courses li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  padding: 1px 12px 0;
  border: 1px solid #fff;
  border-radius: 40px;
}

#cover .cover-text__left .cover-text__courses ul,
#cover .cover-text__left .cover-text__courses li {
  margin-left: 10px;
}

#cover .cover-content {
  position: relative;
}

#cover .cover-content .cover-text__right {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 5%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

#cover .cover-content .cover-text__rating {
  display: block;
}

#cover .cover-content .cover-text__rating i {
  color: #d1d120;
  font-size: 10px;
  font-weight: bold;
}

#cover .cover-content img {
  width: 100%;
  height: 500px;
}

.intro {
  background-color: #fafafa;
  padding: 15px 0;
}

.intro__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro__text {
  color: #b5b6ba;
  font-size: 16px;
  font-weight: 700;
  padding-right: 20px;
}

.intro__logos {
  padding: 0 24px;
}

.intro__logos img + img {
  padding-left: 60px;
}

@media screen and (max-width: 1200px) {
  .intro__text {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .intro__logos {
    padding: 0;
  }
  .intro__logos img {
    height: 50px;
  }
  .intro__logos img + img {
    padding-left: 10px;
  }
  .intro__logos img:last-child {
    display: none;
  }
}

.info {
  padding: 96px 17px;
  background-color: #f1fdf7;
}

.info__text {
  padding-right: 145px;
}

.info__title {
  color: #404145;
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 24px;
}

.info__item + .info__item {
  margin-top: 24px;
}

.info__item h6 {
  color: #404145;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.info__item h6 i {
  font-size: 24px;
  color: #7a7d85;
  margin-right: 10px;
}

.info__item p {
  color: #62646a;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

.info__video {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  cursor: pointer;
}

.info__video .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80px;
  width: 80px;
  background: url("../img/desktop-play-button.c1196d6.png") no-repeat;
  background-size: 80px;
}

@media screen and (max-width: 1200px) {
  .info {
    padding: 64px 17px;
  }
  .info__text {
    padding-right: 70px;
  }
}

@media screen and (max-width: 768px) {
  .info {
    padding: 48px 9px;
  }
  .info__title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .info__text {
    padding-right: 0;
    margin-bottom: 48px;
  }
  .info__item + .info__item {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=main.css.map */