#modalVideo,
#myModalOne,
#myModalTwo,
#myModalThree,
#myModalFour {
  .modal-dialog {
    width: 70vw;
    max-width: 900px;
    @include responsive("small") {
      width: unset;
    }
  }

  .modal-content {
    background-color: transparent;
    border: none;
  }

  .modal-body {
    padding: 0;
  }

  .modal-video {
    width: 100%;
    border-radius: $border-radius;
  }
}

#myModal1,
#myModal2,
#myModal3,
#myModal4,
#myModal5,
#myModal6,
#myModal7 {
  .modal-dialog {
    width: 90vw;
    max-width: 100%;
    margin: 0 auto;

    @include responsive("small") {
      display: none;
      width: unset;
    }
  }

  .modal-content {
    height: 600px;
    border: none;
  }

  .modal-body {
    padding: 0;
    border-radius: $border-radius;
  }
}
