* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Italianno", cursive;
  font-family: "Roboto", sans-serif;
  @include styleText($gray-color-0, ($fs-0), $fw-normal);
  &.sidebarShow {
    overflow-y: hidden;
  }
}
